header.header 
  nav.header__nav 
    a(href="#home") HOME
    a(href="#about") ABOUT
    a(href="#projects") PROJECT
    a(href="#contact") CONTACT
  .toggle 
    span.toggle__icon#toggle-icon
      span.toggle__text Light Mode 
      i.fas.fa-sun 
    input.toggle__input(type="checkbox" id="toggle")
    label.toggle__switch(for="toggle")
      